@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?f3094fa98d16d9abdfb95e55897839a9") format("truetype"),
url("./flaticon.woff?f3094fa98d16d9abdfb95e55897839a9") format("woff"),
url("./flaticon.woff2?f3094fa98d16d9abdfb95e55897839a9") format("woff2"),
url("./flaticon.eot?f3094fa98d16d9abdfb95e55897839a9#iefix") format("embedded-opentype"),
url("./flaticon.svg?f3094fa98d16d9abdfb95e55897839a9#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-interior-design:before {
    content: "\f101";
}